In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series
import matplotlib.pyplot as plt
from numpy.random import random
from matplotlib import rcParams

In [12]:
df = pd.read_csv('addata.csv', header=None)

In [54]:
df1 = df.replace('[?]', np.nan, regex=True)

In [68]:
df1.to_csv('adnomiss.csv')

In [ ]:
# if not export the data, the system can't identify the first three columns as numeric value
# maybe the problem is from the "replace" and "regex"

In [75]:
df2 = pd.read_csv('adnomiss.csv')
df2

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,1549,1550,1551,1552,1553,1554,1555,1556,1557,1558
0,0,125.0,125.0,1.0000,1.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad
1,1,57.0,468.0,8.2105,1.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad
2,2,33.0,230.0,6.9696,1.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad
3,3,60.0,468.0,7.8000,1.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad
4,4,60.0,468.0,7.8000,1.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3274,3274,170.0,94.0,0.5529,0.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,nonad
3275,3275,101.0,140.0,1.3861,1.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,nonad
3276,3276,23.0,120.0,5.2173,1.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,nonad
3277,3277,NaN,NaN,NaN,1.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,nonad
3278,3278,40.0,40.0,1.0000,1.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,nonad

In [73]:
df2.drop('Unnamed: 0', axis=1)

,0,1,2,3,4,5,6,7,8,9,...,1549,1550,1551,1552,1553,1554,1555,1556,1557,1558
0,125.0,125.0,1.0000,1.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad
1,57.0,468.0,8.2105,1.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad
2,33.0,230.0,6.9696,1.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad
3,60.0,468.0,7.8000,1.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad
4,60.0,468.0,7.8000,1.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3274,170.0,94.0,0.5529,0.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,nonad
3275,101.0,140.0,1.3861,1.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,nonad
3276,23.0,120.0,5.2173,1.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,nonad
3277,NaN,NaN,NaN,1.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,nonad
3278,40.0,40.0,1.0000,1.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,nonad

In [80]:
df2['0'].fillna(df2.groupby('1558')['0'].transform("mean"), inplace=True)

In [81]:
df2

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,1549,1550,1551,1552,1553,1554,1555,1556,1557,1558
0,0,125.000000,125.0,1.0000,1.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad
1,1,57.000000,468.0,8.2105,1.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad
2,2,33.000000,230.0,6.9696,1.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad
3,3,60.000000,468.0,7.8000,1.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad
4,4,60.000000,468.0,7.8000,1.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3274,3274,170.000000,94.0,0.5529,0.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,nonad
3275,3275,101.000000,140.0,1.3861,1.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,nonad
3276,3276,23.000000,120.0,5.2173,1.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,nonad
3277,3277,63.359799,NaN,NaN,1.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,nonad
3278,3278,40.000000,40.0,1.0000,1.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,nonad